.item-meta {
  visibility: visible;
}

.item-meta {
  visibility: visible;
}

#formato1 {
  text-align: center;
}
#formato2 {
  font-style: italic;
  text-decoration-style: solid;
  font-weight: bold;
}

#boxito1 {
  padding: 20px;
}

.bubbles {
  text-align: center;
  color: #1919e6;
  font-weight: bold;
}

.titulop {
  color: black;
  text-align: center;
  border-color: black;
  border-style: double;
  background-color: #2e8b57;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
}
